/***************************************************************************************/
/* Defualt classes */
/***************************************************************************************/

BODY{
	font-family:tahoma;
	font-size:10px;
	color:#000000;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#87c714;
	background-image:none;
	background-repeat:no-repeat;
}

     /* Initial properties for common links */

A:link{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:underline;
}

A:visited{
	font-family:tahoma;
	font-size:11px;
	text-decoration:underline;
}

A:hover{
	color:#666666;
	text-decoration:none;
}

A:active{
	color:#666666;
	text-decoration:none;
}

     /* Initial properties for all Lists */

UL{
	padding:0px 0px 0px 25px;     /* the left padding was set to make the bullets appear inside the container */
	margin:0px 0px 0px 0px;
}

LI{
	padding:0px 0px 10px 0px;        /* the left padding was set to give the text left padding from the bullet position */
	margin:0px 0px 0px 0px;
	color:#666666;
}

LI A:link{
	color:#666666;
	text-decoration:none;
}

LI A:visited{
    text-decoration:none;
}

LI A:hover{
	color:#666666;
	text-decoration:underline;
}

LI A:active{
	color:#666666;
	text-decoration:none;
}

    /* Initial properties for any FORM */

FORM{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

    /* Initial properties for textbox or textarea */

INPUT,TEXTAREA{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	margin:0px 0px 0px 0px;
	border: 1px double #fff;
	background-color:#ffffff;

}

.INPUT1{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	margin:0px 0px 0px 0px;
	border: 2px solid #bee183;
	background-color:#ffffff;
	width:15px;
	height:15px;
	

}


#chk input{
	width:auto;
	background-color:transparent;
}

SELECT{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	padding:0px 0px 0px 15px;
	margin:0px 0px 0px 0px;
	border: 1px solid #666666;
	background-color:#ffffff;
	width:99%;
}

/* Initial properties for any img */

HR{
	color:#87c714;
	height:0.5px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
	width:99%;
}

    /* Initial properties headings */

H6{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

/* All Page Sub Titles  */
H5{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

/* All Page Titles  */
H4{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

H3{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

H2{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

H1{
	font-family:tahoma;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	text-transform:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:none;
	background-image:none;
	background-repeat:no-repeat;
	background-color:transparent;
}

/* Defualt classes End*/
/******************************************************************************************************************/



/* General classes */
/******************************************************************************************************************/

       /* a div to hold all all fixed design */
     
.divContainer{
	width:778px;
	margin:auto;
	border:#666666 0px solid;
	background-image:none;
	background-repeat:no-repeat;
}

     /* top links styles : home-aboutus.... */

.topLinks{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:none;
}
	 
.topLinks a:link{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:none;
}

.topLinks a:visited{
	font-family:tahoma;
	font-size:11px;
	text-decoration:none;
}

.topLinks a:hover{
	color:#888888;
	text-decoration:underline;
}

.topLinks A:active{
	color:#888888;
	text-decoration:none;
}

     /* Use this Class when you want to style any Button */

.buttonAllSite{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	height:18px;
	width:auto;
	padding:1px 2px 1px 2px;
	border:1px solid #00017f;
	background-image:url(../images/buttonbg.jpg);
	background-repeat:repeat-x;
}

     /* make the image border */
	 
.imageBorder{
	border:1px #988968 solid;
}

	/* make the image float left */

.imageLeft{
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 7px 5px 0px;
	border:1px #988968 solid;
}

     /* make the image float right */

.imageRight{
	float:right;
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 7px;
	border:1px #988968 solid;
}

     /* Set of borders */

.borderNone{
	border:none;
}

.border{
	border:1px solid #c9cacb;
}

.borderTop{
	border-top:1px solid #c9cacb;
}

.borderRight{
	border-right:1px solid #c9cacb;
}

.borderLeft{
	border-left:1px solid #c9cacb;
}

.borderBottom{
	border-bottom:1px solid #c9cacb;
}

     /* Mark any word with bold */

.Bold{
	font-weight:bold;
}

	 /* Justify any text */

.justify{
	text-align:justify;
}

	 /* Create a horizontal dots separetor */

.horSeparetor{
	background-image:url(../images/hor_sep.gif);
	background-repeat:repeat-x;
}

     /* Create a vertical dots separetor */

.verSeparetor{
	background-image:url(images/ver_sep.gif);
	background-repeat:repeat-y;
}

	 /* Create a scrolled div */

.scrolledDiv{
	height:400px;
	width:720px;
	overflow:scroll;
	margin:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#ffffff;
	overflow-x:hidden;
}

     /* Classes for footer */

.footer{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
}
   
.footer A:link{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:underline;
}

.footer A:visited{
	font-family:tahoma;
	font-size:11px;
	text-decoration:underline;
}

.footer A:hover{
	color:#666666;
	text-decoration:underline;
}

.footer A:active{
	color:#666666;
	text-decoration:underline;
}

      /* Additional text : change  to your requierd color */  

.txtColorName{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
}

.txtColorName A:link{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:underline;
}

.txtColorName A:visited{
	font-family:tahoma;
	font-size:11px;
	text-decoration:underline;
}

.txtColorName A:hover{
	color:#5c554c;
	text-decoration:none;
}

.txtColorName A:active{
	color:#5c554c;
	text-decoration:underline;
}

a.more:link{
	font-family:tahoma;
	font-size:11px;
	color:#666666;
	text-decoration:underline;
}

a.more:visited{
	font-family:tahoma;
	font-size:11px;
	text-decoration:underline;
}

a.more:hover{
	color:#666666;
	text-decoration:none;
}

a.more:active{
	color:#666666;
	text-decoration:none;
}

/* General classes End*/

/******************************************************************************************************************/

/* padding Classes */

    /* Top Padding*/
.tm0{padding-top:0px;}
.tm1{padding-top:1px;}
.tm2{padding-top:2px;}
.tm3{padding-top:3px;}
.tm4{padding-top:4px;}
.tm5{padding-top:5px;}
.tm6{padding-top:6px;}
.tm7{padding-top:7px;}
.tm8{padding-top:8px;}
.tm9{padding-top:9px;}
.tm10{padding-top:10px;}
.tm11{padding-top:11px;}
.tm12{padding-top:12px;}
.tm13{padding-top:13px;}
.tm14{padding-top:14px;}
.tm15{padding-top:15px;}
.tm16{padding-top:16px;}
.tm17{padding-top:17px;}
.tm18{padding-top:18px;}
.tm19{padding-top:19px;}
.tm20{padding-top:20px;}
.tm21{padding-top:21px;}
.tm22{padding-top:22px;}
.tm23{padding-top:23px;}
.tm24{padding-top:24px;}
.tm25{padding-top:25px;}
.tm26{padding-top:26px;}
.tm27{padding-top:27px;}
.tm28{padding-top:28px;}
.tm29{padding-top:29px;}
.tm30{padding-top:30px;}
.tm35{padding-top:35px;}
.tm40{padding-top:40px;}
.tm45{padding-top:45px;}
.tm50{padding-top:50px;}
.tm55{padding-top:55px;}
.tm60{padding-top:60px;}

    /* Right Padding*/

.rm0{padding-right:0px;}
.rm1{padding-right:1px;}
.rm2{padding-right:2px;}
.rm3{padding-right:3px;}
.rm4{padding-right:4px;}
.rm5{padding-right:5px;}
.rm6{padding-right:6px;}
.rm7{padding-right:7px;}
.rm8{padding-right:8px;}
.rm9{padding-right:9px;}
.rm10{padding-right:10px;}
.rm11{padding-right:11px;}
.rm12{padding-right:12px;}
.rm13{padding-right:13px;}
.rm14{padding-right:14px;}
.rm15{padding-right:15px;}
.rm16{padding-right:16px;}
.rm17{padding-right:17px;}
.rm18{padding-right:18px;}
.rm19{padding-right:19px;}
.rm20{padding-right:20px;}
.rm21{padding-right:21px;}
.rm22{padding-right:22px;}
.rm23{padding-right:23px;}
.rm24{padding-right:24px;}
.rm25{padding-right:25px;}
.rm26{padding-right:26px;}
.rm27{padding-right:27px;}
.rm28{padding-right:28px;}
.rm29{padding-right:29px;}
.rm30{padding-right:30px;}
.rm35{padding-right:35px;}
.rm40{padding-right:40px;}
.rm45{padding-right:45px;}
.rm50{padding-right:50px;}
.rm55{padding-right:55px;}
.rm60{padding-right:60px;}

    /* buttom Padding*/

.bm0{padding-bottom:0px;}
.bm1{padding-bottom:1px;}
.bm2{padding-bottom:2px;}
.bm3{padding-bottom:3px;}
.bm4{padding-bottom:4px;}
.bm5{padding-bottom:5px;}
.bm6{padding-bottom:6px;}
.bm7{padding-bottom:7px;}
.bm8{padding-bottom:8px;}
.bm9{padding-bottom:9px;}
.bm10{padding-bottom:10px;}
.bm11{padding-bottom:11px;}
.bm12{padding-bottom:12px;}
.bm13{padding-bottom:13px;}
.bm14{padding-bottom:14px;}
.bm15{padding-bottom:15px;}
.bm16{padding-bottom:16px;}
.bm17{padding-bottom:17px;}
.bm18{padding-bottom:18px;}
.bm19{padding-bottom:19px;}
.bm20{padding-bottom:20px;}
.bm21{padding-bottom:21px;}
.bm22{padding-bottom:22px;}
.bm23{padding-bottom:23px;}
.bm24{padding-bottom:24px;}
.bm25{padding-bottom:25px;}
.bm26{padding-bottom:26px;}
.bm27{padding-bottom:27px;}
.bm28{padding-bottom:28px;}
.bm29{padding-bottom:29px;}
.bm30{padding-bottom:30px;}
.bm35{padding-bottom:35px;}
.bm40{padding-bottom:40px;}
.bm45{padding-bottom:45px;}
.bm50{padding-bottom:50px;}
.bm55{padding-bottom:55px;}
.bm60{padding-bottom:60px;}

    /* Left Padding*/

.lm0{padding-left:0px;}
.lm1{padding-left:1px;}
.lm2{padding-left:2px;}
.lm3{padding-left:3px;}
.lm4{padding-left:4px;}
.lm5{padding-left:5px;}
.lm6{padding-left:6px;}
.lm7{padding-left:7px;}
.lm8{padding-left:8px;}
.lm9{padding-left:9px;}
.lm10{padding-left:10px;}
.lm11{padding-left:11px;}
.lm12{padding-left:12px;}
.lm13{padding-left:13px;}
.lm14{padding-left:14px;}
.lm15{padding-left:15px;}
.lm16{padding-left:16px;}
.lm17{padding-left:17px;}
.lm18{padding-left:18px;}
.lm19{padding-left:19px;}
.lm20{padding-left:20px;}
.lm21{padding-left:21px;}
.lm22{padding-left:22px;}
.lm23{padding-left:23px;}
.lm24{padding-left:24px;}
.lm25{padding-left:25px;}
.lm26{padding-left:26px;}
.lm27{padding-left:27px;}
.lm28{padding-left:28px;}
.lm29{padding-left:29px;}
.lm30{padding-left:30px;}
.lm35{padding-left:35px;}
.lm40{padding-left:40px;}
.lm45{padding-left:45px;}
.lm50{padding-left:50px;}
.lm55{padding-left:55px;}
.lm60{padding-left:60px;}

	 /* General Padding */

.m0{padding:0px;}
.m1{padding:1px;}
.m2{padding:2px;}
.m3{padding:3px;}
.m4{padding:4px;}
.m5{padding:5px;}
.m6{padding:6px;}
.m7{padding:7px;}
.m8{padding:8px;}
.m9{padding:9px;}
.m10{padding:10px;}
.m11{padding:11px;}
.m12{padding:12px;}
.m13{padding:13px;}
.m14{padding:14px;}
.m15{padding:15px;}
.m16{padding:16px;}
.m17{padding:17px;}
.m18{padding:18px;}
.m19{padding:19px;}
.m20{padding:20px;}
.m21{padding:21px;}
.m22{padding:22px;}
.m23{padding:23px;}
.m24{padding:24px;}
.m25{padding:25px;}
.m26{padding:26px;}
.m27{padding:27px;}
.m28{padding:28px;}
.m29{padding:29px;}
.m30{padding:30px;}
.m35{padding:35px;}
.m40{padding:40px;}
.m45{padding:45px;}
.m50{padding:50px;}
.m55{padding:55px;}
.m60{padding:60px;}

/*-------------Event Calendar Styles------------------- */

TD.EventsManager_Day{
	Padding: 2px;
	text-align: center;
	border: 3px solid #ffffff;
}

.EventsManager_DayHeader{
	background-color: #003366;
	font-size: 11px;
	color: #FFFFFF;
	padding: 3px;
	text-align: center;
}

.EventsManager_borderRightCalendar{
	border-right: solid 1px #235e9f ;
	padding: 5px;
}

.EventsManager_calendarBorder{
	border: solid 1px #003366;
	padding: 0px;
}
/*----------------------form style-------------------*/
.maintable
{
	margin:0px 0px 0px 0px;
	width:595px;
	height:421px;
}
.tdheader
{
background:#87c714 url(images/clex-logo-new.jpg);
background-position:left;
background-repeat:no-repeat;
width:390px;
height:110px;
}
.tdcontent
{
	background-color:#FFFFFF;
	font-family:tahoma;
	font-size:11px;
	font-weight:bold;
	color:#000;
	/*border-bottom:solid 1px #87c714;*/
}	

.tdtable
{
	font-family:tahoma;
	font-size:11px;
	color:#000;
	text-align:center;
	margin:0px 0px 0px 0px;
	border: solid 1px #87c714;
	background-color:#ffffff;
}
.tdtable1
{
	font-family:tahoma;
	font-size:11px;
	color:#000;
	font-weight:bold;
	text-align:left;
	margin:0px 0px 0px 0px;
	background-color:#ffffff;
	
}
.tdtable2
{
	font-family:tahoma;
	font-size:11px;
	color:#000;
	border-bottom:solid 1px #87c714;

}


/*-------------Event Calendar Styles------------------- */